:root {
  --primary-bg-color: rgb(33, 33, 33);
  --secondary-bg-color: rgb(44, 44, 44);
  --border-color: rgb(133, 33, 33);
  --secondary-border-color: rgb(99, 24, 24);
  --font-color: rgb(210, 210, 210);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  position: relative;
  display: flex;
  background-color: var(--primary-bg-color);
  color: var(--font-color);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

h2:hover {
  cursor: default;
}

ul {
  list-style-type: none;
}

.sidebar {
  position: sticky;
  top: 50;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid var(--border-color);
}

.header {
  flex-shrink: 1;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}

.side-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-border-color) var(--primary-bg-color);
}

.side-items {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--font-color);
  background-color: var(--primary-bg-color);
  transition: transform 300ms ease-out;
}

.side-items:hover {
  transform: scale(1.04);
  background-color: var(--secondary-bg-color);
}

.side-item {
  flex-grow: 1;
  padding: 10px;
  border: none;
  color: var(--font-color);
  background-color: transparent;
  transition: transform 300ms ease-out;
  text-align: start;
}

.side-item:hover {
  cursor: pointer;
}

.remove-side-item {
  flex-shrink: 0;
  margin: 10px;
  padding: 5px;
  width: 40px;
  align-self: center;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--font-color);
  background-color: var(--secondary-border-color);
  transition: transform 300ms ease-out;
}

.remove-side-item:hover {
  cursor: pointer;
  background-color: var(--border-color);
  transform: scale(1.08);
}

.side-upcoming-title-img {
  width: 40px;
}

.side-input {
  display: flex;
  margin: 10px 5px 20px;
}

#side-input-box {
  flex: 1 1 auto;
  min-width: 100px;
  max-width: 260px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--font-color);
  background-color: var(--primary-bg-color);
  transition: transform 300ms ease-out;
}

#side-input-box:hover {
  background-color: var(--secondary-bg-color);
}

#side-input-box:focus {
  outline:  none;
  transform: scale(1.05);
}

.side-input-button,
.side-upcoming-title-button,
.side-priority-title-button {
  flex-shrink: 0;
  padding: 5px;
  width: 40px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--font-color);
  background-color: var(--secondary-border-color);
  transition: transform 300ms ease-out;
}

.side-input-button:hover,
.side-upcoming-title-button:hover,
.side-priority-title-button:hover {
  cursor: pointer;
  background-color: var(--border-color);
  transform: scale(1.08);
}

.side-upcoming-title-div,
.side-priority-title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.footer {
  flex-shrink: 1;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
  text-align: center;
}

.footer-text {
  margin-top: 10px;
}

.footer > p > a {
  color: var(--font-color);
}

.main {
  position: relative;
  top: 0;
  flex: 1 1 auto;
  display: flex;
  padding: 20px;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.project-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  scrollbar-width: auto;
  scrollbar-color: var(--secondary-border-color) var(--primary-bg-color);
}

.project-item-button {
  margin-left: 10px;
  padding: 10px;
  color: var(--font-color);
  background-color: var(--secondary-border-color);
}

.project-item-button:hover,
.project-item-delete:hover,
.project-item-checked:hover {
  cursor: pointer;
  background-color: var(--border-color);
  transform: scale(1.08);
}

.project-item-button-image {
  width: 35px;
}

.project-item,
.project-item-button,
.project-item-delete,
.project-item-checked {
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.project-item-checked-lock:hover {
  cursor: default;
  background-color: var(--secondary-border-color);
  transform: none;
}

.project-item {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: var(--primary-bg-color);
  transition: transform 300ms ease-out;
}

.project-item:hover {
  background-color: var(--secondary-bg-color);
  transform: scale(1.01);
}

.project-item-text {
  display: flex;
  flex-grow: 1;
  margin: 20px;
}

.project-item-text-a {
  flex-grow: 1;
  max-width: 40%;
  min-width: 180px;
  margin-right: 10px;
}

.project-item-text-b {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-item-title {
  font-size: 2rem;
  margin: 0 0 10px -5px;
  padding: 0 5px;
}

.project-item-title:hover {
  background-color: var(--primary-bg-color);
  border-radius: 10px;
}

.project-item-title:focus {
  background-color: var(--primary-bg-color);
  outline: 1px solid var(--border-color);
  border-radius: 10px;
}

.project-item-priority-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 8px;
  background-color: transparent;
  color: var(--font-color);
  border: none;
  border-radius: 4px;
}

.project-item-priority-select:hover {
  appearance: auto;
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  padding: 2px 4px;
}

.project-item-priority-select:focus {
    outline: 1px solid var(--border-color);
}

.project-item-notes {
  color: var(--font-color);
  background-color: transparent;
  margin: 0;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
  max-width: 750px;
  max-height: 95px;
  resize: none;
}

.project-item-notes:hover {
  background-color: var(--primary-bg-color);
}

.project-item-notes:focus {
  background-color: var(--primary-bg-color);
  outline: 1px solid var(--border-color);
}

.project-item-notes-label {
  padding-left: 10px;
}

.project-item-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
}

.project-item-delete,
.project-item-checked {
  margin: 5px;
  padding: 5px;
  width: 40px;
  color: var(--font-color);
  background-color: var(--secondary-border-color);
}

.new-item-dialog {
  padding: 20px;
  margin: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

::backdrop {
  background-color: black;
  opacity: 0.6;
}

.new-item-form {
  color: var(--font-color);
}

.new-item-form input,
.new-item-form select,
.new-item-form textarea {
  width: 100%;
  background-color: var(--font-color);
}

.new-item-form input:focus,
.new-item-form select:focus,
.new-item-form textarea:focus {
  outline: 1px solid var(--border-color);
}

.new-item-form > div {
  margin: 15px;
}

.input-submit {
  text-align: center;
}

.input-submit-button {
  color: var(--font-color);
  background-color: var(--secondary-border-color);
  padding: 8px 32px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  text-align: center;
}

.input-submit-button:hover {
  cursor: pointer;
  background-color: var(--border-color);
}