@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --primary-bg-color: rgb(30, 30, 30);
  --secondary-bg-color: rgb(36, 36, 36);
  --tertiary-bg-color: rgb(45, 45, 45);
  --primary-border-color: rgb(133, 33, 33);
  --secondary-border-color: rgb(99, 24, 24);
  --font-color: rgb(210, 210, 210);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  position: relative;
  display: flex;
  background-color: var(--primary-bg-color);
  color: var(--font-color);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2:hover {
  cursor: default;
}

ul {
  list-style-type: none;
}

button {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

label {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

textarea,
input,
select,
option {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sidebar {
  position: sticky;
  top: 50;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--primary-border-color);
  background-color: var(--secondary-bg-color);
}

.header {
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid var(--primary-border-color);
  background-color: var(--primary-bg-color);
  text-align: center;
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 500;
  font-style: normal;
}

.header:hover {
  cursor: default;
}

.side-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-border-color) var(--primary-bg-color);
  padding: 6px;
}

.side-my-title {
  padding-left: 6px;
}

.side-items {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
  border: 1px solid var(--primary-border-color);
  border-radius: 10px;
  color: var(--font-color);
  background-color: var(--tertiary-bg-color);
  transition: transform 300ms ease-out;
}

.side-items:hover {
  transform: scale(1.04);
  background-color: var(--primary-bg-color);
}

.side-item {
  flex-grow: 1;
  padding: 10px;
  border: none;
  color: var(--font-color);
  background-color: transparent;
  transition: transform 300ms ease-out;
  text-align: start;
}

.side-item:hover {
  cursor: pointer;
}

.side-item-overdue:hover {
  background-color: var(--primary-border-color);
  border-radius: 9px;
}

.remove-side-item {
  margin: 10px;
  padding: 5px;
  width: 40px;
  align-self: center;
  border: 1px solid var(--primary-border-color);
  border-radius: 10px;
  color: var(--font-color);
  background-color: var(--secondary-border-color);
  transition: transform 300ms ease-out;
}

.remove-side-item:hover {
  cursor: pointer;
  background-color: var(--primary-border-color);
  transform: scale(1.08);
}

.side-upcoming-title-img {
  width: 40px;
}

.side-input {
  display: flex;
  margin: 10px 5px;
  padding: 6px;
}

#side-input-box {
  width: 230px;
  margin-right: 8px;
  padding: 10px;
  border: 1px solid var(--primary-border-color);
  border-radius: 10px;
  color: var(--font-color);
  background-color: var(--primary-bg-color);
  transition: transform 300ms ease-out;
}

#side-input-box:hover {
  background-color: var(--primary-bg-color);
}

#side-input-box:focus {
  outline:  none;
}

.side-input-button,
.side-my-projects-title-button,
.side-upcoming-title-button,
.side-priority-title-button {
  flex-shrink: 0;
  padding: 5px;
  width: 40px;
  border: 1px solid var(--primary-border-color);
  border-radius: 10px;
  color: var(--font-color);
  background-color: var(--secondary-border-color);
  transition: transform 300ms ease-out;
}

.side-input-button:hover {
  cursor: pointer;
  background-color: var(--primary-border-color);
}

.side-my-projects-title-button:hover,
.side-upcoming-title-button:hover,
.side-priority-title-button:hover {
  cursor: pointer;
  background-color: var(--primary-border-color);
}

.side-my-projects-title-div,
.side-upcoming-title-div,
.side-priority-title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.footer {
  flex-shrink: 1;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid var(--primary-border-color);
  background-color: var(--primary-bg-color);
  text-align: center;
}

.footer > p > a {
  color: var(--font-color);
}

.main {
  position: relative;
  top: 0;
  flex: 1 1 auto;
  display: flex;
  padding: 20px;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.project-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.project-title {
  flex-grow: 1;
  padding: 10px;
  font-size: 2rem;
  border-radius: 10px;
}

.project-title:hover,
.project-title:focus {
  cursor: text;
  outline: 1px solid var(--primary-border-color);
}

.project-title-not-editable:hover,
.project-title-not-editable:focus {
  cursor: default;
  outline: none;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  scrollbar-width: auto;
  scrollbar-color: var(--secondary-border-color) var(--primary-bg-color);
}

.project-item-button {
  margin-left: 10px;
  padding: 10px;
  color: var(--font-color);
  background-color: var(--secondary-border-color);
}

.project-item-button:hover,
.project-item-visibility:hover,
.project-item-delete:hover,
.project-item-checked:hover {
  cursor: pointer;
  background-color: var(--primary-border-color);
  transform: scale(1.08);
}

.project-item-button-image {
  width: 35px;
}

.project-item,
.project-item-button,
.project-item-visibility,
.project-item-delete,
.project-item-checked {
  border: 1px solid var(--primary-border-color);
  border-radius: 10px;
}

.project-item-checked-lock:hover {
  cursor: default;
  background-color: var(--secondary-border-color);
  transform: none;
}

.project-item {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: var(--primary-bg-color);
  transition: transform 300ms ease-out;
}

.project-item:hover {
  background-color: var(--secondary-bg-color);
  transform: scale(1.01);
}

.project-item-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project-item-title {
  font-size: 1.8rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 10px 10px 0 10px;
  padding: 0 10px;
}

.project-item-title:hover {
  background-color: var(--primary-bg-color);
  border-radius: 10px;
}

.project-item-title:focus {
  background-color: var(--primary-bg-color);
  outline: 1px solid var(--primary-border-color);
  border-radius: 10px;
}

.project-item-title-not-editable:hover {
  cursor: default;
  background-color: transparent;
}

.project-item-text {
  display: flex;
  flex-grow: 1;
  margin: 10px;
}

.project-item-text-a {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 180px;
  margin: 0 10px 10px 10px;
}

.project-item-text-b {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px 10px;
}

.project-item-date-calendar {
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  padding: 0;
  width: 28px;
  height: 28px;
  overflow: hidden;
  background-color: transparent;
}

.project-item-date-calendar:hover {
  background-color: var(--primary-bg-color);
}

.project-item-date-calendar:focus,
.project-item-date-calendar:open {
  outline: 1px solid var(--primary-border-color);
  background-color: var(--primary-bg-color);
}

.project-item-date-calendar::-webkit-calendar-picker-indicator {
  padding: 0;
  display: block;
  width: 28px;
  height: 28px;
  color: var(--font-color);
  filter: invert(1);
}

.project-item-date-calendar::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.project-item-priority-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 8px;
  background-color: transparent;
  color: var(--font-color);
  border: none;
  border-radius: 4px;
}

.project-item-priority-select:hover {
  appearance: auto;
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  padding: 2px 4px;
}

.project-item-priority-select:focus {
    outline: 1px solid var(--primary-border-color);
}

.project-item-description {
  display: flex;
  width: 100%;
}

.project-item-description-input {
  color: var(--font-color);
  background-color: transparent;
  margin: -2px 0 0 0;
  padding: 2px 2px 0 5px;
  border: none;
  border-radius: 10px;
  width: 100%;
  min-height: 1.5rem;
  resize: none;
}

.project-item-description-label {
  margin-right: 5px;
}

.project-item-notes {
  color: var(--font-color);
  background-color: transparent;
  margin: 0;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  resize: none;
}

.project-item-notes:hover,
.project-item-description-input:hover {
  background-color: var(--primary-bg-color);
}

.project-item-notes:focus,
.project-item-description-input:focus {
  background-color: var(--primary-bg-color);
  outline: 1px solid var(--primary-border-color);
}

.project-item-notes-label {
  padding-left: 10px;
}

.project-item-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.project-item-visibility,
.project-item-delete,
.project-item-checked {
  margin: 5px;
  padding: 5px;
  width: 40px;
  color: var(--font-color);
  background-color: var(--secondary-border-color);
}

.new-item-dialog {
  padding: 20px;
  margin: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-bg-color);
  border: 1px solid var(--primary-border-color);
  border-radius: 10px;
}

::backdrop {
  background-color: black;
  opacity: 0.6;
}

.new-item-form {
  color: var(--font-color);
}

.new-item-form input,
.new-item-form select,
.new-item-form textarea {
  width: 100%;
  background-color: var(--font-color);
}

.new-item-form input:focus,
.new-item-form select:focus,
.new-item-form textarea:focus {
  outline: 1px solid var(--primary-border-color);
}

.new-item-form > div {
  margin: 15px;
}

.input-submit {
  text-align: center;
}

.input-submit-button {
  color: var(--font-color);
  background-color: var(--secondary-border-color);
  padding: 8px 32px;
  border: 1px solid var(--primary-border-color);
  border-radius: 6px;
  text-align: center;
}

.input-submit-button:hover {
  cursor: pointer;
  background-color: var(--primary-border-color);
}